*{
    padding: 0;
    margin: 0;
}

.fondo{
    background: url("../img/bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
}
.titulo{
    padding: 1em;
    text-align: center;
}

.titulo h1{
    font-family: 'Century Gothic',sans-serif;
    color: #f9f3f4;
    font-size: 500%;
    margin-bottom: 0.5em;
}

#inicio{
    background-color: #2196f3;
    border: 1px solid #2196f3;
    text-align: center;
}
nav{
    padding: 1em;
}
nav li{
    text-decoration-style: none;
    display: inline-block;
    font-size: 1.5em;
}
nav a{
    text-decoration: none;
    color:white;
    padding: 0.7em 1em;
    transition: 3s;
}

nav a:hover{
    background: rgb(82, 4, 155);
}

.titulo .btn{
    border-radius: 9px;
    color: #f9f3f4;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}

.titulo .btn:hover{
    background-color: #2196f3;
}

.leyenda{
    font-family: 'Century Gothic',sans-serif;
    color: #2196f3;
    font-size: 200%;
    padding: 1em;
    text-shadow: 2px 2px 8px #000;
}

p{
    border: 1px solid #2196f3;
    font-size: 160%;
    text-align: justify;
    margin: 3%;
    padding: 3%;
    font-family: sans-serif;
    line-height: 200%;
}

#servicios p{
    column-count: 2;
    column-gap: 2em;
}

#estamos{
    background-color: #2196f3;
    border: 1px solid #2196f3;
}

.leyblanco{
    color: white;
}

.arriba{
    position: fixed;
    color: white;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(82, 4, 155);
}

.centrar{
    padding: 0.5em;
}